.options_body {
    margin: 0px;
    padding: 0px;
}

.page_settings {
    width: 100%;
    min-height: 650px;
}

.page_header {
    width: 100%;
    height: 150px;
    background-color: aqua;
}

.page_center_options {
    width: 100%;
    height: 450px;
}

.left-hand_side {
    width: 30%;
    height: 450px;
    background-color:Gray;
    float: left;
}

.right_side {
    width: 70%;
    height: 450px;
    background-color:darkcyan;
    float: left;
}

.footer {
    width: 100%;
    height: 50px;
    background-color:yellow;
}
